<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnxlOruLQ-yp6KdJD2u9ZG7P2xitbnVwU</string>
	<key>GCM_SENDER_ID</key>
	<string>654395225254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseRemoteConfig.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firebare-flutter-remote-config</string>
	<key>STORAGE_BUCKET</key>
	<string>firebare-flutter-remote-config.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654395225254:ios:8f8009390a98076d80b067</string>
</dict>
</plist>